body {
    margin: 0;
    padding: 0;
    background-image: url('./image/7c83afe4915fc72564941ab32ff1e37d.gif');
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.coin-container {
    margin-bottom: 20px;
}

#coin-img {
    width: 300px;
}

#flip-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#flip-button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
